<div class="show-container">
  <div class="post-details">
    <h2 class="post-title"><%= @post.title %></h2>
    <p class="post-content"><%= @post.content %></p>
  </div>

  <div class="post-actions">
    <%= link_to 'Back', posts_path, class: 'new-post-button' %>
  </div>
</div>
